<div class="container">
   <div>
      <h1>Impac!&trade; API</h1>
   </div>
   </header>
   <div>
      <p>Impac!&trade;-light is a reporting engine provided by&nbsp;<a href="https://maestrano.com/">Maestrano</a>.&nbsp;<br /> Directly interacting with Connec!, Impac! retrieves data for a given list of organizations, and formats it into JSON widgets that you can use directly in your front-end for Business Intelligence purposes.</p>
      <h3>Path prefixing</h3>
      <p>All calls must prefixed by the&nbsp;<code>/api</code>&nbsp;keyword, followed by the version number. Eg:<code>https://api-impac.maestrano.com/api/v1/get_widget...</code></p>
      <h3>Authentication</h3>
      <p>You need to provide your Maestrano Enterprise Tenant key and token to access Impac!&trade; API. You might have received this private access key directly from your Maestrano Account Manager. Use Basic Auth to give your key to the API:</p>
      <ul>
         <li>
            <p>username:&nbsp;<code>&lt;your API key&gt;</code></p>
         </li>
         <li>
            <p>password:&nbsp;<code>&lt;your API token&gt;</code>&nbsp;</p>
         </li>
      </ul>
   </div>
</div>