// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#top {
    box-sizing: border-box;
    font-size: 39px;
    margin: 21px 0px 10.5px;
    font-family: Raleway, sans-serif !important;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
.page-header {
    box-sizing: border-box;
    padding-bottom: 9.5px;
    margin: 42px 0px 21px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 240, 241);
}

.description {
    box-sizing: border-box;
    color: rgb(44, 62, 80);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 21.4286px;
    background-color: rgb(255, 255, 255);
}

.description > p {
    box-sizing: border-box;
    margin: 0px 0px 10.5px;
}

.description > p > a {
    box-sizing: border-box;
    color: rgb(24, 188, 156);
    text-decoration: none;
    background: transparent;
}

.description > h3 {
    box-sizing: border-box;
    font-family: Raleway, sans-serif !important;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-size: 26px;
}

.description > p > code {
    box-sizing: border-box;
    font-family: Inconsolata, monospace !important;
    font-size: 13.5px;
    padding: 2px 4px;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgb(221, 221, 221);
}

.description > ul {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 10.5px;
}

.description > ul > li {
    box-sizing: border-box;
}

.description > ul > li > p {
    box-sizing: border-box;
    margin: 0px 0px 10.5px;
}

.description > ul > li > p > code {
    box-sizing: border-box;
    font-family: Inconsolata, monospace !important;
    font-size: 13.5px;
    padding: 2px 4px;
    color: rgb(68, 68, 68);
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgb(221, 221, 221);
}